<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!-- configuration target class -->
<bean id="target" class="com.nt.service.WishMSG"></bean>
<!-- configuration advice -->
<bean id="ba" class="com.nt.aspect.AfterAdvice1"></bean>
<!-- configuration proxyFactoryBean -->
<bean id="pfb" class="org.springframework.aop.framework.ProxyFactoryBean">
<property name="target" ref="target"></property>
<property name="interceptorNames">
<list>
<value>ba</value>
</list>
</property>

</bean>
</beans>